# -----------------------------------------
# File: .gitignore
# 
# Amir Ben Slimane & Salah Bennour, 2015
# Polytech Nice Sophia - Computer Sciences
# -----------------------------------------

# Temporary
*~

# Mac OS
.DS_Store

# Unwanted java
target/
bin/

# Eclipse
.classpath
.settings
.project
.metadata